{% extends 'user/common/layout.html'%}
{% block content %}
{% load static %}

<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>See more Details</p>
                    <h1>Single Product</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->

<!-- single product -->
<div class="single-product mt-150 mb-150">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="single-product-img">
                    <img src="media/{{ result.image }}">
                </div>
            </div>
            <div class="col-md-7">
                <div class="single-product-content">
                    <h3>{{result.productname}}</h3>
                    <p class="single-product-pricing"><span>Water Capacity :  {{result.capacity}}</span> Rs. {{result.price}} / Per</p>
                    <p>{{result.description}}.</p>
                    <div class="single-product-form">
                       
                        <p><strong></strong>Fruits, Organic</p>

                        <a href="/user/order_page/{{result.id}}" class="cart-btn" style="margin-left :-10px"><i class="fas fa-shopping-cart"></i>Place order</a>
                    </div>
                    
                    <ul class="product-share">
                        <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href=""><i class="fab fa-twitter"></i></a></li>
                        <li><a href=""><i class="fab fa-google-plus-g"></i></a></li>
                        <li><a href=""><i class="fab fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end single product -->

<!-- more products -->

<!-- end more products -->

<!-- logo carousel -->

<!-- end logo carousel -->

{% endblock %}
<!-- end logo carousel -->
